* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0px auto;
  padding: 20px 0px;
}

body {
  background-color: rgb(182, 214, 227);
}

.login {
  display: flex;
  gap: 35px;
}
.login-imgs {
  width: 50%;
  display: flex;
}
.login-imgs img {
  width: 50%;
  height: 10%;
}
.login-pags {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  height: 95vh;
  border-radius: 25px;
  box-shadow: 0px 5px 20px black;
  background-color: white;
  padding: 20px 20px;
  position: relative;
}
.login-pags img {
  width: 100%;
}
.login-img-dumaloq {
  position: absolute;
  top: 240px;
  margin-left: 25px;
}
.login-inpts {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgba(129, 127, 127, 0.558);
  font-size: 18px;
}
.login-title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(66, 76, 87);
}
.login-link {
  display: flex;
  justify-content: space-between;
}
.login-link1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.login .input1 {
  padding: 20px;
  background-color: red;
  color: red;
}